feedparser
requests
beautifulsoup4
selenium
webdriver-manager
beautifulsoup4
sentence-transformers
torch
undetected-chromedriver
transformers
obs-websocket-py
rembg
pillow
numpy
manim
scipy
onnxruntime
moviepy
huggingface_hub
openai-whisper